# login.sh 的 crontab 定时登录配置
# 默认输出 log 到 /tmp/jwc.log

# 需要修改登录脚本 login.sh 的路径为实际路径
# 需要修改 Nginx 的路径为实际路径

SHELL=/bin/bash
*/30 * * * * source /path/to/login.sh >> /tmp/jwc.log 2>&1 && /path/to/nginx -s stop && /path/to/nginx